.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    background-color: #f0f0f0;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}
    
.card:hover {
    box-shadow: 2px 2px black;
    translate: -2px -2px;
}

.card h2 {
    font-size: 32px;
    font-family: sans-serif;
}

.card img {
    border-radius: 16px;
}